.page-bg {
  background-color: #1e1e1e;
}

.side-navigation {
  background-color: #2c2c2c;
}

.profile-card {
  margin-left: 32px;
  background-color: #2c2c2c;
}

.profile-card:hover {
  background-color: #2f2f2f;
  scale: 1.03;
  cursor: pointer;
}

.profile-img {
  margin-left: 10px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.side-nav-item {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.side-nav-item-selector {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  transition: padding-left 0.3s ease; /* Transition for padding-left */
}

.side-nav-item-selector:hover {
  scale: 1.1;
}

.side-nav-item-selector.active {
  background-color: #1e1e1e;
  color: #c70000;
  border-right: 5px solid #c70000;
  padding-left: 45px; /* Adjust as needed */
  font-weight: 700;
}

.side-nav-logo {
  margin-right: 10px;
}

.your-playlist-title {
  margin: 20px;
  font-weight: 700;
  font-size: 16px;
}

.playlist-container {
  background-color: #2f2f2f;
  width: 90%;
  height: 300px;
  margin-bottom: 10%;
  max-height: 300px; /* Example height, adjust as needed */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds container height */
}

/* AUDIO PLAYER */
/* custom.css or your CSS file */
/* Change the background color of the audio player */
.rhap_container {
  background-color: #1e1e1e !important; /* Replace with your desired color */
  border-top: #2c2c2c solid 2px;
}

/* Change the color of the progress bar */
.rhap_progress-filled {
  background-color: #4caf50; /* Replace with your desired color */
}

/* Change the color of the volume bar */
.rhap_volume-filled {
  background-color: #2196f3; /* Replace with your desired color */
}

/* Change the color of the play/pause button */
.rhap_play-pause-button {
  color: #c70000 !important; /* Replace with your desired color */
}

/* Change the color of the time display */
.rhap_time {
  color: #333; /* Replace with your desired color */
}

/* Change the color of the volume icon */
.rhap_volume-icon {
  color: #9c27b0; /* Replace with your desired color */
}

.artist-profile {
  border-radius: 1000px;
  border: #2c2c2c solid 1px;
  box-shadow: #2c2c2c;
  width: 300px;
  height: 300px;
}

.dropzone {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: #00c700 dashed 1px;
  height: 100px;
}

.upload-music-modal {
  background-color: #2c2c2c !important;
}

.modal-custom-input {
  background-color: #1e1e1e !important;
  border: #0e0e0e solid 1px !important;
  box-shadow: #0e0e0e;
  color: white;
}

.modal-custom-input::placeholder {
  color: gray !important;
}

.modal-custom-input:focus {
  border-color: #c70000 !important; /* Change to your desired color */
  box-shadow: 0 0 0 0.2rem rgba(199, 0, 0, 0.25) !important;
}

.album-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
}

.album-photo {
  border: #c70000 solid 1px;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* CSS */
.custom-file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: auto; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.custom-file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px; /* Adjust as needed */
  cursor: pointer;
  opacity: 0;
}

.album-section-1 {
  width: 75%;
  flex-wrap: nowrap; /* Prevent wrapping in the main axis */
  overflow-x: auto; /* Enable horizontal scrolling */
  flex-direction: row; /* Arrange items horizontally */
  height: 400px;
  justify-content: flex-start; /* Align items to the start of the main axis */
  align-items: center; /* Center items along the cross axis */
}

.album-card {
  background-color: #2c2c2c;
  cursor: pointer;
  min-width: 300px; /* Set a minimum width for each card */
  max-width: 300px; /* Set a maximum width for each card */
  height: 90%;
  flex-shrink: 0; /* Prevent cards from shrinking */
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 16px; /* Add margin between cards */
}

.album-section-1::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.album-image {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.album-description h3 {
  font-weight: 700;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -25%;
  width: 25%;
  height: 100%;
  background-color: #2c2c2c;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
